/target/
.idea
.classpath
.settings
.DS_Store
# General
.AppleDouble
.LSOverride
app.log*
api/app.log*
src/main/resources/application.yml
common/src/main/resources/*.yml
*/target/*
# Icon must end with two \r
Icon^M^M
*/*.iml
